<form (ngSubmit)="savePlant()">
  <div>
    <label for="name">Nombre:</label>
    <input id="name" [(ngModel)]="plant.name" name="name" required />
  </div>

  <div>
    <label>Tipo:</label>
    @for (type of plantTypes; track type) {
      <label>
        <input type="radio" [(ngModel)]="plant.type" name="type" [value]="type" /> {{ type }}
      </label>
    }
  </div>

  <div>
    <button type="button" (click)="clearForm()">Limpiar</button>
    <button type="submit">Guardar</button>
  </div>
</form>
