<form (ngSubmit)="savePlant()">
  <div>
    <label for="name">Plant name for register:</label>
    <input id="name" [(ngModel)]="plant.name" name="name" required />
  </div>

  <div>
    <label>Type:</label>
    @for (type of plantTypes; track type) {
      <label>
        <input type="radio" [(ngModel)]="plant.type" name="type" [value]="type" /> {{ type }}
      </label>
    }
  </div>

  <div>
    <button type="submit">Save</button>
    <!-- <button type="button" (click)="clearForm()">Clean</button> -->
  </div>
</form>
